@{
  Layout = "_Layout";
}

<br>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("See all courses", "Index", "Courses")</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("See all students", "Index", "Students")</button>